body {
    font-family: D-DIN, sans-serif;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

.chat-container {
    position: relative;
    width: 90vw;
    height: 75vh;
    margin: 0 auto;
    background-color: #FFECBB;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.chat-box {
    flex-grow: 1;
    overflow-y: scroll;
    border: 0px solid #3e3e3e;
    padding: 10px;
    background-color: #FFECBB;
    margin-bottom: 10px;
    max-height: calc(75vh - 90px);
}

.chat-box p {
    margin: 10px 0;
}

.chat-box::-webkit-scrollbar {
    width: 8px;
    background-color: #FFECBB;
    border-radius: 5px;
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color, #BCA063);
    border-radius: 5px;
    border: 1px solid #BCA063;
}

.chat-box::-webkit-scrollbar-track {
    background-color: #FFECBB;
    border-radius: 5px;
}

.input-container {
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 10px;
    right: 10px;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    background-color: #FFECBB;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.user-message-box {
    border: 0px solid #BCA063;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    background-color: #BCA063;
    box-shadow: 0 0 5px rgba(129, 109, 65, 0.5);
}

.user-message {
    flex-grow: 1;
    text-align: right;
    color: #3C3C3C;
    margin: 0;
}

.bot-message {
    text-align: left;
    color: #3C3C3C;
}

#userMessage {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 5px solid #BCA063;
    border-radius: 5px;
    color: #FFECBB;
    background-color: #BCA063;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#userMessage:focus {
    border-color: #816D41;
    box-shadow: 0 0 5px rgba(129, 109, 65, 0.5);
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #BCA063;
    color: #3C3C3C;
    border-radius: 5px;
    border: 5px solid #BCA063;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #816D41;
    border: 5px solid #816D41;
}

@media screen and (max-width: 768px) {
    .chat-container {
        width: 90%;
        padding: 15%;
    }    

    .chat-box {
        height: 200px;
        font-size: 14px;
    }

    .input-container {
        flex-direction: column;
        gap: 5px;
    }

    #userMessage {
        font-size: 14px;
        padding: 8px;
    }

    button {
        font-size: 14px;
        padding: 8px 10px;
    }
}
    
